.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 0;

    .left {
        h1 {
            font-weight: 400;
            font-size: 28px;
            line-height: 32px;
            color: rgb(255, 255, 255);
            margin-bottom: 8px;
        }

        .date {
            color: rgb(189, 193, 198);
            font-size: 14px;
            line-height: 20px;
        }
    }

    .right {
        .weather {
            border-radius: 18px;
            height: 75px;
            width: 230px;
            background-color: #1F1F1F;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

@media (max-width:500px) {
    .welcome {
        justify-content: center;
    }

    .weather {
        margin-top: 10px;
    }
}