.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 0;
    gap: 10px;

    .left {
        width: fit-content;

        h1 {
            font-weight: 400;
            font-size: 28px;
            line-height: 32px;
            color: rgb(255, 255, 255);
            margin-bottom: 8px;
        }

        .date {
            color: rgb(189, 193, 198);
            font-size: 14px;
            line-height: 20px;
        }
    }

    .right {
        width: fit-content;

        .weather {
            border-radius: 18px;
            height: 60px;
            width: auto;
            // width: 230px;
            background-color: #1F1F1F;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                height: 40px;
                width: 40px;
                object-fit: cover;
            }

            p {
                width: fit-content;
                margin-right: 10px;
            }

            .celcius {
                font-size: 14px;
            }

            .type {
                font-weight: 500;
            }
        }
    }

}

@media (max-width:800px) {
    .welcome {

        .welcome h1,
        .welcome .date {
            justify-content: center;
            display: block;


        }

        .left,
        .right {
            // margin: 0 auto !important;
        }

        .weather {
            margin-top: 10px;
        }
    }

}