.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 15px auto;
        color: #E2E2E3;
    }

    h2 {
        color: #E2E2E3;
        margin: 10px auto;
    }



    $base-spacing-unit: 24px;
    $half-spacing-unit: calc($base-spacing-unit / 2);

    $color-alpha: #1772FF;
    $color-form-highlight: #EEEEEE;

    .table {
        width: 100%;

        button {
            padding: 10px 15px;
            background-color: rgb(255, 57, 57);
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

        // border: 1px solid $color-form-highlight;
    }

    .table-header {
        display: flex;
        width: 100%;
        background: #202124;
        padding: ($half-spacing-unit * 1.5) 0;
    }

    .table-row {
        display: flex;
        width: 100%;
        padding: ($half-spacing-unit * 1.5) 0;
        padding-left: 10px;
        background: $color-form-highlight;
    }

    .table-data,
    .header__item {
        flex: 1 1 20%;
        text-align: center;
    }

    .header__item {
        text-transform: uppercase;
    }

    .filter__link {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        padding-left: $base-spacing-unit;
        padding-right: $base-spacing-unit;

        &::after {
            content: '';
            position: absolute;
            right: -($half-spacing-unit * 1.5);
            color: white;
            font-size: $half-spacing-unit;
            top: 50%;
            transform: translateY(-50%);
        }

        &.desc::after {
            content: '(desc)';
        }

        &.asc::after {
            content: '(asc)';
        }

    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;

        button {
            cursor: pointer;
            padding: 5px 10px;
            background-color: transparent;
            color: white;
            border: none;
            text-transform: capitalize;

            border: 1px solid #1772FF;
        }

        .active {
            background-color: #1772FF;
        }
    }
}